<p id="notice"><%= notice %></p>

<p>
  <b>Expense name:</b>
  <%= @expense.expense_name %>
</p>

<p>
  <b>Date spent:</b>
  <%= @expense.date_spent %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
